* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.box {
    max-width: 1140px;
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.box p {
    color: #777
}

.box div {
    font-family: 'Helvetica Neue', 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #2ecc71;
    letter-spacing: 1px;
    transition: all .3s;
}

.js-count-active {
    font-size: 30px;
    font-weight: bold;
    color: #f1c40f;
}